# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.out

# Precompiled Headers
*.gch
*.pch

# Compilation folders
obj/
bin/

# MacOS Files
.DS_Store

# Visual code
.vscode

# CLion Files
.idea/

# CMake
*cmake-build-*/
*CMakeLists.txt

# Ignore "database" files
*.txt
